$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

@media screen and (min-width: $breakpoint-medium) {
  main {
    display: grid;
    grid-template-columns: 1fr 948px 1fr;
  }
  header {
    margin-bottom: 3%;
    padding: 20px;
    .search-web {
      display: flex;
    }
    .menu-mob {
      display: none;
    }
  }
  .post-content,
  .post-footer,
  .post-header {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .post-header {
    .principal-img {
      img {
        height: 360px;
      }
    }
    .author {
      small {
        span {
          color: #055eff;
        }
      }
    }
    .bread-path {
      a {
        font-size: 1em;
      }
      span {
        font-size: 1em;
      }
    }
    .post-details-title {
      margin-bottom: 20px;
      h1 {
        font-size: 1.625em;
        font-weight: 900;
        padding-bottom: 8px;
      }
      p {
        font-size: 1em;
      }
    }
    .post-header-content {
      margin: 0 74px;
    }
  }
  .post-content {
    margin: 0 74px;
  }
  .post-footer {
    margin: 0 74px;
  }
}

@media screen and (min-width: $breakpoint-large) {
  header {
    padding: 20px 75px;
    svg {
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: $breakpoint-extra-large) {
  header {
    .header-tags {
      display: flex;
      ul {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 760px) {
  footer .main_informations {
    flex-direction: column;
  }

  footer .main_informations .brand_links .link_list {
    display: none;
  }

  footer .main_informations .terms_links > ul li {
    margin: 0 20px;
  }

  footer .main_informations .brand_links .brand img {
    width: 150px;
  }

  footer .main_informations * {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  footer .main_informations .terms_links .address_contact ul:first-child {
    margin: 0;
    padding: 0;
  }

  footer .main_informations .terms_links .address_contact ul:last-child {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .address_contact {
    flex-direction: column;
  }

  footer .main_informations .terms_links .address_contact ul:first-child {
    margin-bottom: 20px;
    border-right: 1px solid transparent;
  }
}