@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  color: #3d3f40;
}

input,
textarea,
button,
select {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body {
  display: flex;
  flex-direction: column;
}
body header {
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
  padding: 0 45px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .brand img {
  width: 105px;
}
body header #menu {
  flex-direction: column;
  align-items: flex-end;
  display: none;
}
body header #menu img {
  margin-bottom: 5px;
}
body header #login {
  font-size: 1em;
  color: #3d3f40;
  height: 100%;
  border-bottom: 3px solid transparent;
  padding: 10px 20px;
}
body header #login:hover {
  border-bottom: 3px solid #055eff;
  color: #055eff;
  transition: all 500ms ease-in-out;
}
body header #login:active {
  background-color: #f9f9f9;
  transition: 100ms ease;
}
body main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1140px 1fr;
  padding-bottom: 100px;
}
body main .fixed {
  position: fixed;
  z-index: 999;
  bottom: 0;
  background: white;
  width: 100%;
  padding: 16px;
  border-radius: #c4d4d4;
  box-shadow: 0px -2px 13px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
}
body main .fixed button {
  flex: 1;
  background-color: #055eff;
  color: white;
  padding: 1em;
  border-radius: 6px;
  font-size: 0.9em;
  margin: 0 10px;
}
body main .back-to-map {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
body main .back-to-map a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
}
body main .back-to-map a span {
  margin-right: 10px;
}
body main .back-to-map ul {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
body main .back-to-map ul li {
  font-weight: 300;
  font-size: 1em;
  display: flex;
  align-items: center;
}
body main .back-to-map ul li span {
  color: #b4b4b5;
}
body main .back-to-map ul li:hover {
  color: #055eff;
}
body main .back-to-map ul li:last-child {
  font-weight: 500;
}
body main .property-img {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
body main .property-img > span {
  padding: 12px;
  background-color: #11de9a;
  color: white;
  font-size: 0.8em;
  position: absolute;
  border-radius: 6px;
  top: 10px;
  left: 10px;
}
body main .property-img > button {
  padding: 12px;
  background-color: #055eff;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 6px;
  top: 10px;
  right: 10px;
}
body main .property-img > button div {
  margin-right: 10px;
  color: white;
}
body main .property-img > button span {
  color: white;
  font-size: 1.2em;
}
body main .property-img .arrows {
  position: absolute;
  z-index: 9999;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
body main .property-img .arrows span {
  margin: 30px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
body main .property-img .arrows span:last-child {
  transform: rotate(180deg);
}
body main .property-img .arrows span:hover,
body main .property-img .arrows span:active {
  background: rgba(61, 63, 64, 0.6);
  transition: all 300ms ease-in;
}
body main .property-img img {
  width: 100%;
  border-radius: 6px;
}
body main .property-img .options-mobile {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
body main .property-img .options-mobile button {
  color: white;
  background: rgba(61, 62, 64, 0.21);
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 0.8em;
  border-radius: 3px;
}
body main .property-img .options-mobile button span {
  margin-right: 7px;
  transform: scale(0.9, 0.9);
}
body main .property-img .options-mobile button strong {
  font-weight: 700;
  margin-right: 7px;
  color: white;
}
body main .property-img .options-mobile button span {
  color: white;
}
body main .bottom-side-content {
  grid-column-start: 2;
  grid-column-end: 3;
}
body main .bottom-side-content .property-info {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 12px 0;
  height: 225px;
  display: flex;
}
body main .bottom-side-content .property-info .property-details {
  flex: 1;
  margin-right: 5px;
}
body main .bottom-side-content .property-info .property-details .price_address {
  display: flex;
  align-items: center;
  height: 50%;
  flex: 1;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .address {
  flex: 1;
  height: 100%;
  margin-right: 20px;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .address
  small {
  font-size: 1em;
  line-height: 19px;
  font-weight: bold;
  /* identical to box height */
  color: #055eff;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .address
  .street {
  font-size: 1.8em;
  color: #3d3f40;
  font-weight: 500;
  line-height: 140%;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .address
  .neightborhood {
  font-size: 1.1em;
  color: #3d3f40;
  line-height: 140%;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .price {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .price
  strong {
  font-size: 1.8em;
  color: #3d3f40;
  font-weight: 500;
  line-height: 140%;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .price
  strong
  sub {
  font-size: 0.8em;
  color: #3d3f40;
  line-height: 140%;
  font-weight: 300;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .price
  a {
  color: #4486ff;
  font-weight: 300;
  font-size: 0.8em;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .price_address
  .price
  a:hover {
  color: #055eff;
  transition: all 200ms ease;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .property_specification {
  display: flex;
  align-items: center;
  height: 50%;
  flex: 1;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .property_specification
  ul {
  display: flex;
  width: 100%;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .property_specification
  ul
  li {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
  font-size: 0.95em;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .property_specification
  ul
  li
  .none {
  color: #b4b4b5;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .property_specification
  ul
  li
  span {
  margin-bottom: 6px;
  color: #4486ff;
  transform: scale(1.1, 1.1);
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .property_specification
  ul
  li:hover,
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .property_specification
  ul
  li:active {
  transform: scale(1.05, 1.05);
  transition: all 200ms ease-in;
}
body main .bottom-side-content .property-info .property-details .mobile_price {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .mobile_price
  strong {
  font-size: 1.8em;
  color: #3d3f40;
  font-weight: 500;
  line-height: 140%;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .mobile_price
  strong
  sub {
  font-size: 0.8em;
  color: #3d3f40;
  line-height: 140%;
  font-weight: 300;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .mobile_price
  a {
  color: #4486ff;
  font-weight: 300;
  font-size: 0.8em;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .mobile_price
  a:hover {
  color: #055eff;
  transition: all 200ms ease;
}
body main .bottom-side-content .property-info .property-details .details_rent {
  padding: 20px;
  border: 1px solid #353d40a6;
  border-radius: 6px;
  margin: 2% 0;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .details_rent
  strong {
  display: flex;
  color: #353d40;
  font-size: 1em;
  line-height: 160%;
  font-weight: bold;
  margin-bottom: 5px;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .details_rent
  ul {
  flex-direction: column;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .details_rent
  ul
  li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .details_rent
  ul
  li:nth-child(4) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .details_rent
  ul
  li:last-child
  p {
  font-weight: bold;
  display: flex;
  align-items: center;
}
body
  main
  .bottom-side-content
  .property-info
  .property-details
  .details_rent
  ul
  li:last-child
  p
  img {
  margin-right: 10px;
}
body main .bottom-side-content .property-info map {
  background-color: #808080;
  position: relative;
  flex: 0 0 15%;
  margin: 0 20px 20px 0;
  border-radius: 6px;
  background-image: url(../assets/lines/mapa.jpg);
  cursor: pointer;
}
body main .bottom-side-content .property-info map:hover::after {
  display: none;
  transition: 300ms;
}
body main .bottom-side-content .property-info map::after {
  content: "Ver no mapa";
  position: absolute;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: #3d3f40;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c26b;
  mix-blend-mode: darken;
  display: flex;
}
body main .bottom-side-content .form_actions {
  display: flex;
  width: 400px;
}
body main .location_mobile {
  display: flex;
  margin: 20px;
  background-image: url(../assets/lines/mapa.jpg);
  background-repeat: no-repeat;
  height: 160px;
  background-size: cover;
  background-position: center;
  position: relative;
}
body main .location_mobile:hover::after {
  display: none;
  transition: 300ms;
}
body main .location_mobile::after {
  content: "Ver no mapa";
  position: absolute;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: #3d3f40;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c26b;
  mix-blend-mode: darken;
  display: flex;
}
body main .description {
  width: 62%;
}
body main .description h1 {
  line-height: 140%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  color: #3d3f40;
  margin-bottom: 1em;
}
body main .description p {
  align-items: center;
  font-size: 1em;
  color: #3d3f40;
  text-overflow: ellipsis;
}
body main .description a {
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #055eff;
}
body main .details_rent_desk {
  padding: 20px;
  border: 1px solid #353d40a6;
  border-radius: 6px;
  margin: 3%;
}
body main .details_rent_desk strong {
  display: flex;
  color: #353d40;
  font-size: 1em;
  line-height: 160%;
  font-weight: bold;
  margin-bottom: 5px;
}
body main .details_rent_desk ul {
  flex-direction: column;
}
body main .details_rent_desk ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
body main .details_rent_desk ul li:nth-child(4) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
body main .details_rent_desk ul li:last-child p {
  font-weight: bold;
  display: flex;
  align-items: center;
}
body main .details_rent_desk ul li:last-child p img {
  margin-right: 10px;
}
body main .explore {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body main .explore h2 {
  line-height: 140%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  color: #3d3f40;
  margin-bottom: 1em;
}
body main .explore .neighborhood {
  display: flex;
}
body main .explore .neighborhood map {
  flex: 0 0 35%;
  background-image: url("../assets/map.jpg");
  border-radius: 6px;
  margin-right: 10px;
}
body main .info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .info strong {
  font-weight: bold;
  color: #3d3f40;
  margin-bottom: 5px;
}
body main .info a {
  color: #2693ff;
  font-weight: 500;
}
body main .info p {
  color: #353d40;
  margin-bottom: 10px;
}
body main .benefits {
  padding: 20px;
}
body main .benefits .btn {
  display: flex;
  justify-content: flex-end;
}
body main .benefits .btn button {
  padding: 12px;
  background-color: #055eff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
body main .benefits h2 {
  line-height: 140%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  color: #3d3f40;
  margin-bottom: 1em;
}
body main .benefits ul {
  flex-direction: column;
}
body main .benefits ul li {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
body main .benefits ul img {
  margin-right: 20px;
  width: 40px;
  height: 30px;
}
body main .benefits ul .item strong {
  font-weight: bold;
  color: #353d40;
}
body main .similar {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body main .similar h2 {
  line-height: 140%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  color: #3d3f40;
  margin-bottom: 1em;
}
body main .similar .list {
  display: flex;
  padding: 10px 5px;
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
}

.list::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body main .similar .list .card {
  flex: 0 0 24%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 9px 0px rgba(180, 180, 181, 0.4);
  margin-right: 20px;
}
body main .list .card .property_midia {
  position: relative;
}
body main .card .property_midia img {
  border-radius: 0;
}
body main .list .card .property_midia span {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 10px;
  left: 10px;
}

body main .list .arrows {
  position: absolute;
  z-index: 9999;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-between;
}
body main .list .arrows button span {
  margin: 5px;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
body main .list .arrows button span:hover, body main .list .arrows button span:active {
  background: rgba(61, 63, 64, 0.6);
  transition: all 300ms ease-in;
}

body main .card .property_info {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
body main .property_info span {
  color: #055eff;
  font-size: 0.9em;
  margin-bottom: 5px;
  font-weight: bold;
}
body main .property_info strong {
  color: #353d40;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 3px;
}
body main .card .property_info p {
  margin: 0;
  font-weight: 300;
}
body main .nearby {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body main .nearby h2 {
  line-height: 140%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  color: #3d3f40;
  margin-bottom: 1em;
}
body main .nearby ul {
  flex-direction: row;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}
body main .nearby ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
body main .nearby ul li map {
  background-image: url("../assets/map.jpg");
  border-radius: 6px;
  width: 60vw;
  height: 150px;
}
body main .nearby_info {
  display: flex;
  flex-direction: column;
}
body main .nearby_info strong {
  font-weight: bold;
  color: #353d40;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin: 10px 0;
}
body main .nearby strong img {
  margin-right: 10px;
}
body main .nearby p {
  color: #353d40;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 10px;
}
body main .about_neigborhood {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body main .about_neigborhood h2 {
  color: #353d40;
  font-size: 1.4em;
  margin: 20px 0;
}
body main .about_neigborhood ul {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 15px;
}
body main .about_neigborhood ul li {
  color: #b4b4b5;
  cursor: pointer;
  margin-right: 19px;
}
body main .about_neigborhood a {
  color: #055eff;
  font-size: 1em;
  font-weight: bold;
  margin: 20px 0;
}

body footer {
  background-color: #f9f9f9;
  padding: 30px 5%;
}
body .footer-wizzer {
  display: flex;
  height: 100%;
}
body .footer-wizzer div {
  flex: 1;
  padding: 20px;
}
body .right-side p {
  font-weight: normal;
  font-size: 12px;
}
body .right-side h4,
body h3 {
  margin: 20px 0;
  font-size: 16px;
  font-weight: normal;
}
body .right-side a {
  margin: 20px 0;
  font-size: 16px;
  font-weight: normal;
  color: #055eff;
}
body .right-side ul {
  display: flex;
  margin-bottom: 21px;
}
body .right-side ul li {
  margin-right: 20px;
}
body .contact {
  display: flex;
  padding: 0 !important;
}
body .location,
body .number {
  padding: 0 !important;
}
body .location {
  flex: 1;
  position: relative;
}
body .contact ul {
  margin: 20px 0;
  display: block;
}
body .contact ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 15px;
}
body .contact ul li:nth-child(1) {
  margin-bottom: 16px !important;
  font-weight: bold;
}
body .contact ul li img {
  margin-right: 10px;
}
body .lista-lp {
  display: flex;
}
body .lista-lp ul {
  margin-right: 20px;
}
body .lista-lp ul li {
  margin: 20px 0;
}
body .lista-lp ul li a {
  color: #353d40;
  cursor: pointer;
}
body .lista-lp ul li a:hover {
  color: #055eff;
  text-decoration: underline;
}
body .privacity {
  justify-content: center;
  padding: 20px;
  align-items: center;
  width: 100%;
  text-align: center;
  border-top: 0.1px solid #000000;
}

/*# sourceMappingURL=style.css.map */

.head {
  display: flex;
}
.head .schedule-tab,
.head .contact-tab {
  padding: 25px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
}
.head .schedule-tab:active,
.head .contact-tab:active {
  color: #055eff;
}
.head .schedule-tab {
  font-size: 1em;
}
.head .contact-tab {
  border-bottom-right-radius: -6px;
  font-size: 1em;
}

.card-form {
  grid-column-start: 3;
  grid-column-end: 4;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}
.form-buttons button {
  padding: 20px;
  font-size: 1em;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.form-content > button {
  background: #055eff;
  border-radius: 6px;
  padding: 16px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-content > small {
  text-align: center;
  font-size: 0.75em;
}
.form-content > small span {
  color: #055eff;
  cursor: pointer;
}
.form-content .day ul {
  display: flex;
}
.form-content .day ul li {
  margin-right: 18px;
}
.form-content .day ul li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1.5px solid #b4b4b5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 6px 25px;
  color: #000;
}
.form-content .day ul li button:active {
  border: 1.5px solid #055eff;
}
.form-content .day ul li button span {
  font-size: 1.5625em;
}
.form-content .day ul li button small {
  font-size: 1em;
}
.form-content .hour {
  margin: 18px 0;
}
.form-content .hour ul {
  display: flex;
}
.form-content .hour ul li {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.form-content .hour ul li button {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px 25px;
}
.form-content .hour ul li button:active {
  background: #055eff;
  color: #fff;
}

.form-info {
  display: flex;
  flex-direction: column;
}
.form-info .name-tel {
  display: flex;
}
.form-info .name-tel label {
  display: flex;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #c7c7c8;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 18px;
}
.form-info .name-tel label:nth-child(1) {
  margin-right: 18px;
}
.form-info .name-tel label span {
  color: #b4b4b5;
}
.form-info .name-tel label input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}
.form-info .name-tel label input::placeholder {
  color: #b4b4b5;
  font-weight: 300;
}
.form-info .form-email label {
  display: flex;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #c7c7c8;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 18px;
}
.form-info .form-email label span {
  color: #b4b4b5;
}
.form-info .form-email label input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}
.form-info .form-email label input::placeholder {
  color: #b4b4b5;
  font-weight: 300;
}

.contact-title {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.contact-title h1 {
  font-size: 1em;
  text-align: center;
}

.head {
  display: flex;
}
.head .schedule-tab,
.head .contact-tab {
  padding: 25px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1em;
}
.head .schedule-tab:active,
.head .contact-tab:active {
  color: #055eff;
}
.head .schedule-tab {
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 6px;
}
.head .contact-tab {
  border-left: none;
  border-bottom: none;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-top-right-radius: 6px;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 6px;
}
.form-content > button {
  background: #055eff;
  border-radius: 6px;
  padding: 16px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-content > small {
  text-align: center;
  font-size: 0.75em;
}
.form-content > small span {
  color: #055eff;
  cursor: pointer;
}
.form-content .day ul {
  display: flex;
}
.form-content .day ul li {
  margin-right: 18px;
}
.form-content .day ul li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1.5px solid #b4b4b5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 6px 25px;
  color: #000;
}
.form-content .day ul li button:active {
  border: 1.5px solid #055eff;
}
.form-content .day ul li button span {
  font-size: 1.5625em;
}
.form-content .day ul li button small {
  font-size: 1em;
}
.form-content .hour {
  margin: 18px 0;
}
.form-content .hour ul {
  display: flex;
}
.form-content .hour ul li {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.form-content .hour ul li button {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px 25px;
}
.form-content .hour ul li button:active {
  background: #055eff;
  color: #fff;
}
