//Todas as cores

$black: #3d3f40;
$black-two: #27292e;
$black-three: #353d40;
$grey: #b4b4b5;
$grey-two: #808080;
$grey-three: #f9f9f9;
$blue: #055eff;
$blue-two: #4486ff;
$green-two: #80b30c;
$green-one: #11de9a;
$green-three: #0ec689;
$red: #cc1133;
$orange: #f55f44;
$yellow: #ffc445;
$blue-three: #154cb3;
