@import "reset.css";

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

footer #search_footer {
    padding: 40px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer #search_footer h2 {
    color: #151515;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
}

footer #search_footer #search {
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    height: 45px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

footer #search_footer #search input {
    height: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #fff;
}

footer #search_footer #search button {
    height: 100%;
    background-color: #055eff;
    padding: 0 16px;
    color: #151515;
    border-radius: 0 6px 6px 0;
}

footer #search_footer #search input::placeholder {
    font-size: 14px;
}

.footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.footer .content {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.footer .content .wizzer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .content .wizzer .network ul {
    display: flex;
    margin-right: 100px;
}

.footer .content .wizzer .network ul li {
    padding: 0 16px;
}

.footer .content .wizzer .network ul li img {
    width: 20px;
    height: 20px;
}

.footer .content .wizzer .logo h2 {
    color: #151515;
    font-weight: 300;
    font-size: 24px;
    margin: 20px 0;
}

.footer .content .infos ul li:first-child {
    color: #151515;
    margin: 16px 0;
    font-weight: bold;
    font-size: 18px;
}

.footer .content .infos {
    display: flex;
    justify-content: space-between;
}

.footer .content .infos ul {
    flex: 1;
}

.footer .content .infos ul li {
    color: #151515;
    margin: 20px 0;
}

.footer .content .infos ul li a {
    color: #151515;
    text-decoration: none;
    font-size: 1em;
}

.footer .content .infos .contact {
    color: #151515;
    text-decoration: none;
    font-size: 1em;
    flex: 1;
    margin-right: 20px;
}

.footer .terms {
    border-top: 1px solid #151515;
    padding: 16px;
    display: flex;
    justify-content: center;
}

.footer .terms p {
    color: #151515;
    font-size: 1em;
}

.footer .content .infos .about {
    color: #151515;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer .content .infos .about small {
    color: #151515;
    text-decoration: none;
    font-size: 1em;
    margin: 10px 0;
}

.footer .content .infos .about a {
    color: #151515;
    text-decoration: none;
    font-size: 1em;
    margin: 10px 0;
}

.footer .terms p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer .content {
        padding: 30px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer .content .wizzer {
        flex-direction: column;
    }

    .footer .content .wizzer .network ul {
        margin: 0;
    }

    .footer .content .wizzer .network {
        margin-bottom: 20px;
    }

    .footer .content .infos {
        flex-direction: column;
        text-align: center;
    }

    .footer .content .infos .contact {
        margin-right: 0;
    }

    footer #search_footer #search {
        width: 400px;
    }

    footer #search_footer #search {
        width: 300px;
    }
}