/* 
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px; 
*/

@media screen and (min-width: 576px) {
  main #subscribe {
    grid-template-columns: 1fr 436px 1fr;
    padding: 72px 0;
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 1fr 728px 1fr;
  }

  header {
    background: transparent;
    position: absolute;
    top: 0;
    height: 100px;
    z-index: 99999;
    width: 100%;
    border: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  header #menu {
    display: none;
  }

  header #brand img:first-child {
    display: none;
  }

  header nav {
    display: flex;
  }

  #brand img:nth-child(2) {
    display: flex;
  }

  main #partnership {
    height: 90vh;
  }

  main #partnership button {
    transform: scale(1.1);
  }

  main #partnership h1 {
    font-size: 64px;
  }

  main #new_horizon {
    margin: 112px 0;
  }

  main #target_audience .text p {
    width: 60%;
  }

  main #target_audience .text .city {
    height: 300px;
    margin-top: 2%;
  }

  main #target_audience .text h1 img {
    width: 300px;
  }

  main #target_audience .text h1 {
    width: 200px;
  }

  main .download-app {
    display: flex;
    flex-direction: row;
  }

  main #broker .info {
    position: absolute;
    bottom: 100px;
    left: 330px;
  }

  main #app {
    display: grid;
    grid-template-columns: 1fr 728px 1fr;
  }

  main #app .text {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
  }

  main #app .info p {
    width: fit-content;
  }

  main #app .text img {
    width: 40%;
  }

  main #broker .geraldo {
    flex-direction: row;
  }

  main #broker .geraldo .network ul {
    flex-direction: column;
  }

  main #broker .geraldo .network ul li {
    padding: 16px;
  }
}

@media screen and (min-width: 992px) {
  main {
    grid-template-columns: 1fr 952px 1fr;
  }

  main #app {
    display: grid;
    grid-template-columns: 1fr 476px 476px 1fr;
  }

  main #app .info {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    justify-content: center;
  }

  main #app .text img {
    width: 60%;
  }

  main #responsive {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  main {
    grid-template-columns: 1fr 1100px 1fr;
  }

  main #app {
    display: grid;
    grid-template-columns: 1fr 550px 550px 1fr;
  }

  main #app .info p {
    font-size: 18px;
  }

  main #broker {
    flex-direction: row;
  }

  main #broker .geraldo .network {
    margin-right: 60px;
  }

  main #broker h2 {
    width: 60%;
  }
  main #target_audience .text p {
    font-size: 18px;
  }
  main #new_horizon .text p {
    font-size: 18px;
  }
  main #new_horizon .text p:nth-child(3) {
    margin-bottom: 16px;
  }
}
