.partnership-text {
  opacity: 0;
  transition: opacity 0.5s 0.25s ease-out;
}

.main_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnership-text.is-visible {
  opacity: 1;
}

.is-visible .heading {
  transform: translate(0%, -50%);
  opacity: 1;
}

.heading {
  transition: transform 4s 0.35s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform;
}

/*Teste*/

.is-visible .line {
  width: 50%;
  opacity: 1;
  transition: all 4s 0.35s cubic-bezier(0, 1, 0.3, 1);
}
