/*Estilos referentes ao cabeçalho*/

header {
    padding: 16px 24px;
    background-color: #fff;
    background-position: fixed;
    top: 0;
    border: 1px solid #dfe0e3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #brand img {
    width: 150px;
}

header #menu {
    height: 24px;
    width: 32px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
}

header #menu span {
    width: 100%;
    height: 4px;
    display: flex;
    background-color: #151515;
    border-radius: 2px;
}

header #menu span:nth-child(2) {
    width: 70%;
}

header #menu span:nth-child(3) {
    width: 90%;
}

header nav {
    display: none;
    height: 100%;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 12px;
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 5.95467px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    position: relative;
}

header nav a:hover::after {
    width: 100%;
    opacity: 1;
}

header nav a::after {
    content: "";
    height: 3px;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    border-radius: 3px 3px 0 0;
    width: 10%;
    opacity: 0;
    transition: all 500ms ease-in;
}

/*Estilos referentes ao corpo*/

main {
    display: flex;
    flex-direction: column;
}

main #partnership {
    height: 80vh;
    width: 100%;
    position: relative;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main #partnership video {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -99999;
}

main #partnership::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(21, 21, 21, 0.55);
    z-index: 0;
}

main #partnership .partnership-text {
    position: absolute;
    top: 50%;
    left: auto;
}

main #partnership h1 {
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 57px;
    text-align: center;
    text-shadow: 0px 0px 4.42px rgba(0, 0, 0, 0.25);
    z-index: 999999;
}

main #partnership .partnership-text h3 {
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    text-shadow: 0px 0px 4.42px rgba(0, 0, 0, 0.25);
    z-index: 999999;
    letter-spacing: 0.8px;
}

/* Botões */

/* Seção Partner */

main #partnership button {
    background: #fff;
    color: #151515;
    font-size: 18px;
    padding: 20px;
    position: absolute;
    width: 250px;
    box-shadow: 0px 0px 4.5614px rgba(0, 0, 0, 0.25);
    bottom: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

main #partnership button::after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

main #partnership button::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #151515;
}

main #partnership button:hover::after {
    height: 100%;
}

main #partnership button:hover {
    color: #fff;
}

main #partnership button:hover svg path {
    fill: #fff;
}

main #partnership button svg {
    margin-left: 10px;
}

/* Fim da Seção Partner */

/* Seção New Horizon */

main #new_horizon button {
    padding: 20px;
    position: absolute;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-between;
    background-color: #151515;
    cursor: pointer;
    margin-top: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
}

main #new_horizon button::after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

main #new_horizon button::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #fff;
}

main #new_horizon button:hover::after {
    height: 100%;
}

main #new_horizon button:hover {
    color: #151515;
}

main #new_horizon button:hover svg path {
    fill: #151515;
}

main #new_horizon button svg {
    margin-left: 10px;
}

/* Fim da Seção New Horizon */

/* Fim dos Botões */

main #new_horizon {
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
}

main #new_horizon .text h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 35.4964px;
    line-height: 113%;
    /* or 40px */
    color: #151515;
    margin-bottom: 16px;
}

main #new_horizon .text h1::after {
    content: "";
    height: 2px;
    background-color: #151515;
    display: flex;
    border-radius: 2 px;
    margin-right: 70%;
    margin-top: 10px;
    box-sizing: border-box;
}

main #new_horizon .text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #151515;
    margin-bottom: 16px;
}

main #new_horizon .text p:last-child {
    margin-bottom: 48px;
}

main #new_horizon .img {
    display: none;
}

main #target_audience {
    display: flex;
    flex-direction: column;
    padding: 32px 0px 0 32px;
    position: relative;
}

main #target_audience .text h1::after {
    content: "";
    height: 2px;
    background-color: #151515;
    display: flex;
    border-radius: 2 px;
    margin-right: 70%;
    margin-top: 10px;
    box-sizing: border-box;
}

main #target_audience .text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #151515;
    margin: 16px 0;
}

main #target_audience .text .city {
    height: 200px;
    margin-top: 20%;
    float: right;
}

main #app {
    padding: 32px 32px 0 32px;
    background-color: #151515;
}

main #app .text sub {
    color: #fff;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 100;
    font-size: 22.2928px;
    line-height: 27px;
    /* identical to box height, or 121% */
    color: #ffffff;
}

main #app .text h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    /* or 121% */
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
}

main #app .info {
    display: none;
    flex-direction: column;
    color: #fff;
}

main #app .info h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    /* or 121% */
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}

main #app .info h1::after {
    content: "";
    height: 2px;
    background-color: #fff;
    display: flex;
    border-radius: 2 px;
    margin-right: 70%;
    margin-top: 10px;
    width: 60px;
    box-sizing: border-box;
}

main #app .info p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    width: 60%;
    /* or 22px */
    color: #fff;
    margin: 16px 0;
}

main #app .info button {
    padding: 20px;
    color: #151515;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    margin-top: 25px;
}

main #app .info button img {
    margin-left: 12px;
}

main #app .text img:last-child {
    display: none;
}

main #responsive {
    padding: 32px;
    display: flex;
    flex-direction: column;
}

main #responsive h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    /* or 121% */
    color: #151515;
    margin-top: 10px;
    margin-bottom: 30px;
}

main #responsive h1::after {
    content: "";
    height: 2px;
    background-color: #151515;
    display: flex;
    border-radius: 2 px;
    margin-right: 70%;
    margin-top: 10px;
    box-sizing: border-box;
}

main #responsive p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #151515;
    margin: 16px 0;
}

main #responsive button {
    padding: 20px;
    color: #151515;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
    justify-content: center;
    width: fit-content;
}

main #responsive button img {
    margin-left: 12px;
}

main #gerald {
    padding: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}

main #gerald .geraldo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

main #gerald .geraldo .network ul {
    display: flex;
    flex-direction: column;
}

main #gerald .geraldo .network ul li {
    margin-bottom: 6px;
    padding: 6px;
    cursor: pointer;
}

main #gerald .info {
    padding: 12px;
    background-color: #151515;
    bottom: -16px;
    left: 73px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: fit-content;
}

main #gerald .info strong {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 24px */

    letter-spacing: 0.24em;
    color: #ffffff;
}

main #gerald .info strong::after {
    content: "";
    height: 2px;
    background-color: #fff;
    display: flex;
    border-radius: 2 px;
    margin-right: 70%;
    margin-top: 10px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

main #gerald .info small {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    /* or 22px */
    color: #ffffff;
    margin-top: 12px;
}

main #gerald .info small {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    color: #ffffff;
    margin-top: 12px;
}

main #gerald p {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    color: #151515;
    margin: 24px 0;
}

main #subscribe {
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    background-color: #151515;
    justify-content: center;
    align-content: center;
}

main .content {
    grid-column-start: 2;
    grid-column-end: 3;
}

main #target_audience .img {
    display: none;
}

main #subscribe h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    /* or 121% */
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

main #subscribe h1::after {
    content: "";
    height: 2px;
    background-color: #fff;
    display: flex;
    border-radius: 2 px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

main #subscribe p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin: 16px 0;
}

main #subscribe form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main #subscribe form input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.39);
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    padding: 20px;
    margin-bottom: 12px;
    color: white;
}

main #subscribe form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

main #subscribe form input:focus {
    border: 1px solid #ffffff;
}

main #subscribe form button {
    background-color: #fff;
    color: #151515;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 4.5614px rgba(0, 0, 0, 0.25);
    bottom: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
}

main #subscribe form button img {
    margin-left: 10px;
    transform: rotate(-90deg);
}
