@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "reset";
@import "color";
@import "mixins";

body {
  display: flex;
  flex-direction: column;
  header {
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
    padding: 0 45px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      img {
        width: 105px;
      }
    }
    #menu {
      flex-direction: column;
      align-items: flex-end;
      display: none;
      img {
        margin-bottom: 5px;
      }
    }
    #login {
      font-size: 1em;
      color: $black;
      height: 100%;
      border-bottom: 3px solid transparent;
      padding: 10px 20px;
      &:hover {
        border-bottom: 3px solid $blue;
        color: $blue;
        transition: all 500ms ease-in-out;
      }
      &:active {
        background-color: #f9f9f9;
        transition: 100ms ease;
      }
    }
  }

  main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1140px 1fr;
    padding-bottom: 100px;
    .fixed {
      position: fixed;
      z-index: 999;
      bottom: 0;
      background: white;
      width: 100%;
      padding: 16px;
      border-radius: #c4d4d4;
      box-shadow: 0px -2px 13px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      display: flex;
      button {
        flex: 1;
        background-color: #055eff;
        color: white;
        padding: 1em;
        border-radius: 6px;
        font-size: 0.9em;
        margin: 0 10px;
      }
    }
    .back-to-map {
      grid-column-start: 2;
      grid-column-end: 3;
      margin: 20px 0;
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1em;
        span {
          margin-right: 10px;
        }
      }
      ul {
        display: flex;
        align-items: center;
        margin: 0 20px;
        li {
          font-weight: 300;
          font-size: 1em;
          display: flex;
          align-items: center;
          span {
            color: #b4b4b5;
          }
          &:hover {
            color: $blue;
          }
          &:last-child {
            font-weight: 500;
          }
        }
      }
    }
    .property-img {
      grid-column-start: 2;
      grid-column-end: 3;
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      & > span {
        padding: 12px;
        background-color: #11de9a;
        color: white;
        font-size: 0.8em;
        position: absolute;
        border-radius: 6px;
        top: 10px;
        left: 10px;
      }
      & > button {
        padding: 12px;
        background-color: $blue;
        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 6px;
        top: 10px;
        right: 10px;
        div {
          margin-right: 10px;
          color: white;
        }
        span {
          color: white;
          font-size: 1.2em;
        }
      }
      .arrows {
        position: absolute;
        z-index: 9999;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        span {
          margin: 30px;
          color: white;
          border-radius: 50%;
          padding: 5px;
          &:last-child {
            transform: rotate(180deg);
          }
          &:hover,
          &:active {
            background: rgba(61, 63, 64, 0.6);
            transition: all 300ms ease-in;
          }
        }
      }
      img {
        width: 100%;
        border-radius: 6px;
      }
      .options-mobile {
        display: flex;
        position: absolute;
        bottom: 10px;
        right: 10px;
        button {
          color: white;
          background: rgba(61, 62, 64, 0.21);
          display: flex;
          align-items: center;
          margin-right: 10px;
          font-size: 0.8em;
          border-radius: 3px;
          span {
            margin-right: 7px;
            transform: scale(0.9, 0.9);
          }
          strong {
            font-weight: 700;
            margin-right: 7px;
            color: white;
          }
          span {
            color: white;
          }
        }
      }
    }
    .bottom-side-content {
      grid-column-start: 2;
      grid-column-end: 3;
      .property-info {
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 12px 0;
        height: 225px;
        display: flex;

        .property-details {
          flex: 1;
          margin-right: 5px;

          .price_address {
            display: flex;
            align-items: center;
            height: 50%;
            flex: 1;

            .address {
              flex: 1;
              height: 100%;
              margin-right: 20px;
              small {
                font-size: 1em;
                line-height: 19px;
                font-weight: bold;
                /* identical to box height */
                color: #055eff;
              }
              .street {
                font-size: 1.8em;
                color: $black;
                font-weight: 500;
                line-height: 140%;
              }
              .neightborhood {
                font-size: 1.1em;
                color: $black;
                line-height: 140%;
              }
            }
            .price {
              flex: 0 0 35%;
              display: flex;
              flex-direction: column;
              justify-content: center;

              strong {
                font-size: 1.8em;
                color: $black;
                font-weight: 500;
                line-height: 140%;
                sub {
                  font-size: 0.8em;
                  color: $black;
                  line-height: 140%;
                  font-weight: 300;
                }
              }
              a {
                color: $blue-two;
                font-weight: 300;
                font-size: 0.8em;
                &:hover {
                  color: #055eff;
                  transition: all 200ms ease;
                }
              }
            }
          }
          .property_specification {
            display: flex;
            align-items: center;
            height: 50%;
            flex: 1;
            ul {
              display: flex;
              width: 100%;
              li {
                flex: 1;
                display: flex;
                align-items: center;
                flex-direction: column;
                font-weight: 300;
                font-size: 0.95em;
                .none {
                  color: $grey;
                }
                span {
                  margin-bottom: 6px;
                  color: $blue-two;
                  transform: scale(1.1, 1.1);
                }
                &:hover,
                &:active {
                  transform: scale(1.05, 1.05);
                  transition: all 200ms ease-in;
                }
              }
            }
          }
          .mobile_price {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            strong {
              font-size: 1.8em;
              color: $black;
              font-weight: 500;
              line-height: 140%;
              sub {
                font-size: 0.8em;
                color: $black;
                line-height: 140%;
                font-weight: 300;
              }
            }
            a {
              color: $blue-two;
              font-weight: 300;
              font-size: 0.8em;
              &:hover {
                color: #055eff;
                transition: all 200ms ease;
              }
            }
          }

          .details_rent {
            padding: 20px;
            border: 1px solid #353d40a6;
            border-radius: 6px;
            margin: 2% 0;
          }

          .details_rent strong {
            display: flex;
            color: #353d40;
            font-size: 1em;
            line-height: 160%;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .details_rent ul {
            flex-direction: column;
          }

          .details_rent ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
          }

          .details_rent ul li:nth-child(4) {
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 15px;
          }

          .details_rent ul li:last-child p {
            font-weight: bold;
            display: flex;
            align-items: center;
          }

          .details_rent ul li:last-child p img {
            margin-right: 10px;
          }
        }
        map {
          background-color: $grey-two;
          position: relative;
          flex: 0 0 15%;
          margin: 0 20px 20px 0;
          border-radius: 6px;
          background-image: url(../assets/lines/mapa.jpg);
          cursor: pointer;
          &:hover {
            &::after {
              display: none;
              transition: 300ms;
            }
          }
          &::after {
            content: "Ver no mapa";
            position: absolute;
            height: 100%;
            width: 100%;
            font-weight: bold;
            color: $black;
            font-size: 1em;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #c2c2c26b;
            mix-blend-mode: darken;
            display: flex;
          }
        }
      }
      .form_actions {
        display: flex;
        width: 400px;
      }
    }
    .location_mobile {
      display: flex;
      margin: 20px;
      background-image: url(../assets/lines/mapa.jpg);
      background-repeat: no-repeat;
      height: 160px;
      background-size: cover;
      background-position: center;
      position: relative;
      &:hover {
        &::after {
          display: none;
          transition: 300ms;
        }
      }
      &::after {
        content: "Ver no mapa";
        position: absolute;
        height: 100%;
        width: 100%;
        font-weight: bold;
        color: $black;
        font-size: 1em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c2c2c26b;
        mix-blend-mode: darken;
        display: flex;
      }
    }
    .description {
      width: 62%;
      h1 {
        line-height: 140%;
        display: flex;
        align-items: center;
        font-size: 1.3em;
        font-weight: 500;
        color: #3d3f40;
        margin-bottom: 1em;
      }
      p {
        align-items: center;
        font-size: 1em;
        color: #3d3f40;
        text-overflow: ellipsis;
      }
      a {
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #055eff;
      }
    }

    .details_rent_desk {
      padding: 20px;
      border: 1px solid #353d40a6;
      border-radius: 6px;
      margin: 3%;
    }

    .details_rent_desk strong {
      display: flex;
      color: #353d40;
      font-size: 1em;
      line-height: 160%;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .details_rent_desk ul {
      flex-direction: column;
    }

    .details_rent_desk ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .details_rent_desk ul li:nth-child(4) {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }

    .details_rent_desk ul li:last-child p {
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .details_rent_desk ul li:last-child p img {
      margin-right: 10px;
    }

    .explore {
      display: flex;
      flex-direction: column;
      padding: 20px;
      h2 {
        line-height: 140%;
        display: flex;
        align-items: center;
        font-size: 1.3em;
        font-weight: 500;
        color: #3d3f40;
        margin-bottom: 1em;
      }
      .neighborhood {
        display: flex;
        map {
          flex: 0 0 35%;
          background-image: url("../assets/map.jpg");
          border-radius: 6px;
          margin-right: 10px;
        }
      }
    }

    .info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      strong {
        font-weight: bold;
        color: $black;
        margin-bottom: 5px;
      }
      a {
        color: #2693ff;
        font-weight: 500;
      }
      p {
        color: #353d40;
        margin-bottom: 10px;
      }
    }

    .benefits {
      padding: 20px;
      .btn {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 12px;
          background-color: #055eff;
          color: white;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }

    .benefits h2 {
      line-height: 140%;
      display: flex;
      align-items: center;
      font-size: 1.3em;
      font-weight: 500;
      color: #3d3f40;
      margin-bottom: 1em;
    }

    .benefits ul {
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        margin: 30px 0;
      }
      img {
        margin-right: 20px;
        width: 40px;
        height: 30px;
      }

      .item {
        strong {
          font-weight: bold;
          color: #353d40;
        }
      }
    }

    .similar {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .similar h2 {
      line-height: 140%;
      display: flex;
      align-items: center;
      font-size: 1.3em;
      font-weight: 500;
      color: #3d3f40;
      margin-bottom: 1em;
    }

    .similar .list {
      display: flex;
      padding: 10px 5px;
      margin-bottom: 20px;
      overflow-x: auto;
      white-space: nowrap;
    }

    .similar .list .card {
      flex: 0 0 24%;
      display: flex;
      flex-direction: column;
      box-shadow: 2px 2px 9px 0px rgba(180, 180, 181, 0.4);
      margin-right: 20px;
    }

    .list .card .property_midia {
      position: relative;
    }

    .card .property_midia img {
      border-radius: 0;
    }

    .list .card .property_midia span {
      position: absolute;
      color: white;
      font-weight: bold;
      top: 10px;
      left: 10px;
    }

    .card .property_info {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }

    .property_info span {
      color: #055eff;
      font-size: 0.9em;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .property_info strong {
      color: #353d40;
      font-weight: normal;
      font-size: 1em;
      margin-bottom: 3px;
    }

    .card .property_info p {
      margin: 0;
      font-weight: 300;
    }

    .nearby {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .nearby h2 {
      line-height: 140%;
      display: flex;
      align-items: center;
      font-size: 1.3em;
      font-weight: 500;
      color: #3d3f40;
      margin-bottom: 1em;
    }

    .nearby ul {
      flex-direction: row;
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      padding: 20px 0;
    }

    .nearby ul li {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }

    .nearby ul li map {
      background-image: url("../assets/map.jpg");
      border-radius: 6px;
      width: 60vw;
      height: 150px;
    }

    .nearby_info {
      display: flex;
      flex-direction: column;
    }

    .nearby_info strong {
      font-weight: bold;
      color: #353d40;
      display: flex;
      align-items: center;
      font-size: 1.1em;
      margin: 10px 0;
    }

    .nearby strong img {
      margin-right: 10px;
    }

    .nearby p {
      color: #353d40;
      font-weight: normal;
      font-size: 1em;
      margin-bottom: 10px;
    }

    .about_neigborhood {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .about_neigborhood h2 {
      color: #353d40;
      font-size: 1.4em;
      margin: 20px 0;
    }
    .about_neigborhood ul {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 15px;
    }
    .about_neigborhood ul li {
      color: #b4b4b5;
      cursor: pointer;
      margin-right: 19px;
    }

    .about_neigborhood a {
      color: #055eff;
      font-size: 1em;
      font-weight: bold;
      margin: 20px 0;
    }

    .form_2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
    }

    .head {
      display: flex;
    }
    .head .schedule-tab,
    .head .contact-tab {
      padding: 15px;
      cursor: pointer;
      width: 100%;
      text-align: center;
      font-size: 1.25em;
    }
    .head .schedule-tab:active,
    .head .contact-tab:active {
      color: #055eff;
    }
    .head .schedule-tab {
      border-left: 1px solid #c4c4c4;
      border-top: 1px solid #c4c4c4;
      border-top-left-radius: 6px;
      font-size: 1em;
    }
    .head .contact-tab {
      border-left: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: -6px;
      font-size: 1em;
    }

    .form_2 h2 {
      line-height: 140%;
      display: flex;
      align-items: center;
      font-size: 1.3em;
      font-weight: 500;
      color: #3d3f40;
      margin-bottom: 1em;
    }

    .form_2 .card-form {
      flex: 0;
      max-width: 400px;
    }

    .card-form {
      grid-column-start: 3;
      grid-column-end: 4;
    }

    .form-buttons {
      display: flex;
      justify-content: space-evenly;
    }
    .form-buttons button {
      padding: 20px;
      font-size: 1.25em;
    }

    .form-content {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;
      border-left: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
    }
    .form-content > button {
      background: #055eff;
      border-radius: 6px;
      padding: 16px 122px;
      color: #fff;
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .form-content > small {
      text-align: center;
      font-size: 0.75em;
    }
    .form-content > small span {
      color: #055eff;
      cursor: pointer;
    }
    .form-content .day ul {
      display: flex;
    }
    .form-content .day ul li {
      margin-right: 18px;
    }
    .form-content .day ul li button {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ffffff;
      border: 1.5px solid #b4b4b5;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 6px 25px;
      color: #000;
    }
    .form-content .day ul li button:hover {
      border: 1.5px solid #055eff;
    }

    .form-content .day ul li button:active {
      border: 1.5px solid #055eff;
      background: #055eff;
    }
    .form-content .day ul li button:active span {
      color: #fff;
    }
    .form-content .day ul li button:active small {
      color: #fff;
    }
    .form-content .day ul li button span {
      font-size: 1.5625em;
    }
    .form-content .day ul li button small {
      font-size: 1em;
    }
    .form-content .hour {
      margin: 18px 0;
    }
    .form-content .hour ul {
      display: flex;
    }
    .form-content .hour ul li {
      display: flex;
      align-items: center;
      padding-right: 8px;
    }
    .form-content .hour ul li button {
      background: #f1f1f1;
      border-radius: 20px;
      padding: 5px 25px;
    }
    .form-content .hour ul li button:active {
      background: #055eff;
      color: #fff;
    }

    .form-info {
      display: flex;
      flex-direction: column;
    }
    .form-info .name-tel {
      display: flex;
      justify-content: space-between;
    }
    .form-info .name-tel label {
      display: flex;
      width: 100%;
      padding: 12px;
      background: #ffffff;
      border: 1px solid #c7c7c8;
      box-sizing: border-box;
      border-radius: 6px;
      margin-bottom: 18px;
    }
    .form-info .name-tel label:nth-child(1) {
      margin-right: 18px;
    }
    .form-info .name-tel label span {
      color: #b4b4b5;
    }
    .form-info .name-tel label input {
      border: none;
      outline: none;
      width: 100%;
      font-size: 1em;
    }
    .form-info .name-tel label input::placeholder {
      color: #b4b4b5;
      font-weight: 300;
    }
    .form-info .form-email label {
      display: flex;
      padding: 12px;
      background: #ffffff;
      border: 1px solid #c7c7c8;
      box-sizing: border-box;
      border-radius: 6px;
      margin-bottom: 18px;
    }
    .form-info .form-email label span {
      color: #b4b4b5;
    }
    .form-info .form-email label input {
      border: none;
      outline: none;
      width: 100%;
      font-size: 1em;
    }
    .form-info .form-email label input::placeholder {
      color: #b4b4b5;
      font-weight: 300;
    }
  }

  footer {
    background-color: #f9f9f9;
    padding: 30px 5%;
  }

  .footer-wizzer {
    display: flex;
    height: 100%;
  }

  .footer-wizzer div {
    flex: 1;
    padding: 20px;
  }

  .right-side p {
    font-weight: normal;
    font-size: 12px;
  }

  .right-side h4,
  h3 {
    margin: 20px 0;
    font-size: 16px;
    font-weight: normal;
  }

  .right-side a {
    margin: 20px 0;
    font-size: 16px;
    font-weight: normal;
    color: #055eff;
  }

  .right-side ul {
    display: flex;
    margin-bottom: 21px;
  }

  .right-side ul li {
    margin-right: 20px;
  }

  .contact {
    display: flex;
    padding: 0 !important;
  }

  .location,
  .number {
    padding: 0 !important;
  }

  .location {
    flex: 1;
    position: relative;
  }

  .contact ul {
    margin: 20px 0;
    display: block;
  }

  .contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 15px;
  }

  .contact ul li:nth-child(1) {
    margin-bottom: 16px !important;
    font-weight: bold;
  }

  .contact ul li img {
    margin-right: 10px;
  }

  .lista-lp {
    display: flex;
  }

  .lista-lp ul {
    margin-right: 20px;
  }

  .lista-lp ul li {
    margin: 20px 0;
  }

  .lista-lp ul li a {
    color: #353d40;
    cursor: pointer;
  }

  .lista-lp ul li a:hover {
    color: #055eff;
    text-decoration: underline;
  }

  .privacity {
    justify-content: center;
    padding: 20px;
    align-items: center;
    width: 100%;
    text-align: center;
    border-top: 0.1px solid #000000;
  }
}
