@import "reset.css";
@import "footer.css";
@import "header.css";
@import "mediaquerie";

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 570px 570px 1fr;
    margin: 40px 0;
}

.mockup {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list ul li {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    opacity: 0.4;
}

.list ul li span {
    background-color: #055EFF;
    padding: 12px 15px;
    margin-right: 12px;
    border-radius: 33px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.list ul li p a {
    color: #353d40;
    cursor: pointer;
    text-decoration: none;
}

.list ul li:nth-child(1) {
    color: #353d40;
    cursor: pointer;
    opacity: 1;
}

.phone {
    background: #FFFFFF;
    box-shadow: -54px -54px 120px rgba(152, 155, 161, 0.1), 15px 15px 30px rgba(69, 64, 98, 0.09), -51px -51px 120px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    height: 740px;
    width: 450px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.phone .interation {
    display: flex;
    margin: 20px;
    width: 100%;
    position: relative;
}

.phone>img {
    width: 380px;
}

.phone .interation button {
    padding: 16px;
    background-color: #055eff;
    color: #FFFFFF;
    border-radius: 3px;
    flex: 1;
    cursor: pointer;
    position: absolute;
    right: -62px;
    width: 350px;
    transition: all 300ms ease-in;
}

.phone .interation button:hover {
    box-shadow: 0px 4px 40px rgba(5, 94, 255, 0.47);
    transition: all 300ms ease-in;
}

.phone .interation img {
    margin-left: 20px;
}

.benefits {
    display: grid;
    grid-template-columns: 1fr 570px 570px 1fr;
    margin: 40px 0;
    grid-gap: 30px;
}

.benefits .text {
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.benefits .text strong {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #055EFF;
    margin-bottom: 20px;
}

.benefits .text p {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: end;
    width: 75%;
    color: #353d40;
}

.benefits img {
    padding: 20px;
}

@media screen and (max-width: 1140px) {
    .container {
        display: none;
    }

    .benefits {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .benefits .text {
        flex: 0 0 40%;
    }
}