        header {
            height: 80px;
            background-color: #fff;
            display: flex;
            border-bottom: 1px solid #C4C4C4;
            transition: height 100ms ease-in;
            flex-direction: column;
            position: fixed;
            width: 100%;
            z-index: 999999999999999;
        }
        
        nav {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 32px;
            width: 100%;
        }
        
        .header_menu {
            height: auto;
            padding: 16px;
            align-items: center;
        }
        
        header #logo img {
            height: 36px;
        }
        
        header #header_links {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        header #header_links ul {
            display: flex;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        header #header_links ul li {
            margin-left: 16px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 16px;
            position: relative;
            cursor: pointer;
        }
        
        header #header_links ul li:before {
            content: '';
            height: 3px;
            width: 10%;
            background-color: #055eff;
            position: absolute;
            bottom: 0;
            border-radius: 4px 4px 0px 0px;
            opacity: 0;
            transition: all 300ms ease;
        }
        
        header #header_links ul li:hover:before {
            opacity: 1!important;
            width: 100%!important;
            transition: all 300ms ease;
        }
        
        header #header_links ul li:hover a {
            color: #055eff;
            transition: all 300ms ease;
        }
        
        header #header_links ul li a {
            text-decoration: none;
            color: #353d40;
            font-size: 14px;
        }
        
        header .header_menu #menu {
            margin-top: 20px;
        }
        
        header #menu {
            display: none;
        }
        
        header #menu button {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-color: #fff;
        }
        
        header #menu button span {
            height: 3px;
            display: flex;
            margin-bottom: 6px;
            background-color: #055eff;
            width: 30px;
            border-radius: 6px;
        }
        
        .menu_x {}
        
        header #menu button span:nth-child(2) {
            width: 20px;
            transition: all 300ms ease-in;
        }
        
        header #menu.menu_x button span:nth-child(2) {
            display: none;
        }
        
        header #menu.menu_x button span:nth-child(1) {
            transform: rotate(45deg);
            transition: transform 100ms ease-in;
        }
        
        header #menu.menu_x button span:nth-child(3) {
            transform: rotate(-45deg);
            transition: transform 100ms ease-in;
        }
        
        header #menu.menu_x button span {
            margin: 0;
        }
        
        header #mobile_links {
            width: 100%;
            padding: 32px;
            justify-content: flex-end;
        }
        
        header #mobile_links ul li {
            margin-bottom: 16px;
            display: flex;
        }
        
        header #mobile_links ul li a {
            text-decoration: none;
            color: #353d40;
            font-size: 14px;
            font-weight: 500;
            text-align: end;
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
        
        header #mobile_links ul li a:hover {
            color: #055eff;
            transition: color 300ms ease-in;
        }
        
        header #mobile_links ul li:last-child a {
            background-color: #055eff;
            padding: 12px;
            color: white;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        header #mobile_links ul li:last-child:hover {
            background-color: #055eff;
        }
        
        header #mobile_links ul li:nth-child(4) {
            margin-bottom: 20px;
        }
        
        @media screen and (min-width: 960px) {
            #mobile_links {
                display: none;
            }
            header {
                height: 80px;
                padding: 0 32px;
            }
        }
        
        @media screen and (max-width: 960px) {
            header {
                height: auto;
                padding: 16px;
            }
            header #header_links ul {
                display: none;
            }
            header #menu {
                display: flex;
            }
            #mobile_links {
                display: flex;
            }
        }