@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  color: #353d40;
  line-height: 140%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  touch-action: auto;
  height: auto;
  overscroll-behavior: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

@keyframes move {
  0% {
    right: 10px;
  }
  50% {
    right: 40px;
  }
  100% {
    right: 40px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  left: 0;
  right: 0;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid gray;
  background-color: #fff;
  z-index: 9999;
}
header nav {
  display: contents;
  width: 100%;
  height: 100%;
}
header ul {
  display: flex;
  height: 100%;
}
header ul li {
  display: flex;
  position: relative;
  margin-left: 16px;
  padding: 0 16px;
  height: 100%;
  justify-content: center;
}
header ul li::before {
  content: "";
  height: 3px;
  width: 10%;
  position: absolute;
  bottom: 0;
  background: #055eff;
  border-radius: 3px 0 0 3px;
  opacity: 0;
}
header ul li:hover::before {
  width: 100%;
  opacity: 1;
  transition: all 200ms ease-in;
}
header ul li:hover a {
  color: #055eff;
  transition: color 200ms ease-in;
}
header ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}
main #section-fixed-mob {
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  padding: 12px 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
main #section-fixed-mob span {
  font-size: 18px;
  font-weight: 500;
}
main #section-fixed-mob a {
  color: #fff;
  padding: 14px 16px;
  font-size: 1em;
  background-color: #055eff;
  cursor: pointer;
  border-radius: 6px;
  width: fit-content;
}
main #section-header {
  background: #055eff;
  grid-column-start: 1;
  grid-column-end: 4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  z-index: -1;
}
main #section-header .section-header-wrap {
  margin: 3% 20px;
}
main #section-header .section-header-wrap a {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 8px 18px;
  width: fit-content;
  background: #fff;
  font-size: 1em;
  margin: 20px 0;
  cursor: pointer;
}
main #section-header .section-header-wrap a span {
  font-size: 1em;
}
main #section-header .section-header-wrap .job-title {
  font-size: 2em;
  color: #fff;
  font-weight: 500;
  margin: 30px 0;
}
main #section-header .section-header-wrap .job-location {
  font-size: 18px;
  display: flex;
  color: #fff;
  align-items: center;
  margin-bottom: 40px;
}
main #section-header .section-header-wrap .job-location span {
  color: #fff;
  font-size: 18px;
  padding-right: 8px;
}
main #section-job-details {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
}
main #section-job-details #section-fixed-desk {
  display: none;
  position: fixed;
  top: 288px;
  left: auto;
  right: 20px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 232px;
  border: 1px solid #cccccc;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding: 26px;
  background: #fff;
}
main #section-job-details #section-fixed-desk h4 {
  font-weight: 500;
  font-size: 24px;
}
main #section-job-details #section-fixed-desk span {
  color: #8f989b;
  margin: 30px 0;
}
main #section-job-details #section-fixed-desk a {
  color: #fff;
  padding: 14px 16px;
  font-size: 1em;
  background-color: #055eff;
  cursor: pointer;
  border-radius: 6px;
  width: fit-content;
}
main #section-job-details .job-description h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 30px 0;
}
main #section-job-details .job-description .job-schedule,
main #section-job-details .job-description .description,
main #section-job-details .job-description .requirements {
  display: flex;
  align-items: baseline;
}
main #section-job-details .job-description .job-schedule h3,
main #section-job-details .job-description .description h3,
main #section-job-details .job-description .requirements h3 {
  padding-right: 12px;
  font-weight: 500;
  font-size: 18px;
}
main #section-job-details .description,
main #section-job-details .requirements {
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 0;
}
main #section-job-details .description h3,
main #section-job-details .requirements h3 {
  padding-bottom: 12px;
}
main #section-job-details .requirements ul {
  margin-left: 20px;
  list-style: initial;
}
main #section-job-details .requirements ul li {
  margin-bottom: 30px;
}
main #section-about-wizzer {
  grid-column-start: 2;
  grid-column-end: 3;
}
main #section-about-wizzer .work-wizzer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #353d40;
  border-bottom: 1px solid #353d40;
  padding: 30px 0;
  cursor: pointer;
}
main #section-about-wizzer .work-wizzer h2 {
  font-weight: 500;
  font-size: 24px;
}
main #section-about-wizzer .work-wizzer span {
  font-size: 24px;
}

/*# sourceMappingURL=style2.css.map */
