@import "reset";
@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "keyframe";
@import "mixin";

// Header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  left: 0;
  right: 0;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid gray;
  background-color: #fff;
  z-index: 9999;
  nav {
    display: contents;
    width: 100%;
    height: 100%;
  }
  ul {
    display: flex;
    height: 100%;
    li {
      display: flex;
      position: relative;
      margin-left: 16px;
      padding: 0 16px;
      height: 100%;
      justify-content: center;
      &::before {
        content: "";
        height: 3px;
        width: 10%;
        position: absolute;
        bottom: 0;
        background: $blue;
        border-radius: 3px 0 0 3px;
        opacity: 0;
      }
      &:hover::before {
        width: 100%;
        opacity: 1;
        transition: all 200ms ease-in;
      }
      &:hover {
        a {
          color: $blue;
          transition: color 200ms ease-in;
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}

// Main

main {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  #section-fixed-mob {
    display: flex;
    z-index: 9999;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: auto;
    padding: 12px 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    span {
      font-size: 18px;
      font-weight: 500;
    }
    a {
      @include button;
    }
  }
  #section-header {
    background: #055eff;
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    z-index: -1;
    .section-header-wrap {
      margin: 3% 20px;
      a {
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 8px 18px;
        width: fit-content;
        background: #fff;
        font-size: 1em;
        margin: 20px 0;
        cursor: pointer;
        span {
          font-size: 1em;
        }
      }
      .job-title {
        font-size: 2em;
        color: #fff;
        font-weight: 500;
        margin: 30px 0;
      }
      .job-location {
        font-size: 18px;
        display: flex;
        color: #fff;
        align-items: center;
        margin-bottom: 40px;
        span {
          color: #fff;
          font-size: 18px;
          padding-right: 8px;
        }
      }
    }
  }
  #section-job-details {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    z-index: -9999;
    #section-fixed-desk {
      display: none;
      position: fixed;
      top: 288px;
      left: auto;
      right: 20px;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 232px;
      border: 1px solid #cccccc;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
      border-radius: 6px;
      padding: 26px;
      background: #fff;
      h4 {
        font-weight: 500;
        font-size: 24px;
      }
      span {
        color: #8f989b;
        margin: 30px 0;
      }
      a {
        @include button;
      }
    }
    .job-description {
      h2 {
        font-weight: 500;
        font-size: 24px;
        margin: 30px 0;
      }
      .job-schedule,
      .description,
      .requirements {
        display: flex;
        align-items: baseline;
        h3 {
          padding-right: 12px;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
    .description,
    .requirements {
      flex-direction: column;
      justify-content: flex-start;
      margin: 30px 0;
      h3 {
        padding-bottom: 12px;
      }
    }
    .requirements {
      ul {
        margin-left: 20px;
        list-style: initial;
        li {
          margin-bottom: 30px;
        }
      }
    }
  }
  #section-about-wizzer {
    grid-column-start: 2;
    grid-column-end: 3;
    .work-wizzer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #353d40;
      border-bottom: 1px solid #353d40;
      padding: 30px 0;
      cursor: pointer;
      h2 {
        font-weight: 500;
        font-size: 24px;
      }
      span {
        font-size: 24px;
      }
    }
  }
}
