html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  color: #353d40;
  line-height: 140%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.head {
  display: flex;
}
.head .schedule-tab,
.head .contact-tab {
  padding: 25px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
}
.head .schedule-tab:active,
.head .contact-tab:active {
  color: #055eff;
}
.head .schedule-tab {
  border-left: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  border-top-left-radius: 6px;
}
.head .contact-tab {
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: -6px;
}

main {
  display: grid;
  grid-template-columns: 30px repeat(3, 1fr) 30px;
}

.card-form {
  grid-column-start: 3;
  grid-column-end: 4;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}
.form-buttons button {
  padding: 20px;
  font-size: 1.25em;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.form-content > button {
  background: #055eff;
  border-radius: 6px;
  padding: 16px 122px;
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-content > small {
  text-align: center;
  font-size: 0.75em;
}
.form-content > small span {
  color: #055eff;
  cursor: pointer;
}
.form-content .day ul {
  display: flex;
}
.form-content .day ul li {
  margin-right: 18px;
}
.form-content .day ul li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1.5px solid #b4b4b5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 6px 25px;
  color: #000;
}
.form-content .day ul li button:active {
  border: 1.5px solid #055eff;
}
.form-content .day ul li button span {
  font-size: 1.5625em;
}
.form-content .day ul li button small {
  font-size: 1em;
}
.form-content .hour {
  margin: 18px 0;
}
.form-content .hour ul {
  display: flex;
}
.form-content .hour ul li {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.form-content .hour ul li button {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px 25px;
}
.form-content .hour ul li button:active {
  background: #055eff;
  color: #fff;
}

.form-info {
  display: flex;
  flex-direction: column;
}
.form-info .name-tel {
  display: flex;
}
.form-info .name-tel label {
  display: flex;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #c7c7c8;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 18px;
}
.form-info .name-tel label:nth-child(1) {
  margin-right: 18px;
}
.form-info .name-tel label span {
  color: #b4b4b5;
}
.form-info .name-tel label input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}
.form-info .name-tel label input::placeholder {
  color: #b4b4b5;
  font-weight: 300;
}
.form-info .form-email label {
  display: flex;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #c7c7c8;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 18px;
}
.form-info .form-email label span {
  color: #b4b4b5;
}
.form-info .form-email label input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}
.form-info .form-email label input::placeholder {
  color: #b4b4b5;
  font-weight: 300;
}

.contact-title {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.contact-title h1 {
  font-size: 1em;
  text-align: center;
}

.head {
  display: flex;
}
.head .schedule-tab,
.head .contact-tab {
  padding: 25px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
}
.head .schedule-tab:active,
.head .contact-tab:active {
  color: #055eff;
}
.head .schedule-tab {
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 6px;
}
.head .contact-tab {
  border-left: none;
  border-bottom: none;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-top-right-radius: 6px;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 6px;
}
.form-content > button {
  background: #055eff;
  border-radius: 6px;
  padding: 16px 122px;
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-content > small {
  text-align: center;
  font-size: 0.75em;
}
.form-content > small span {
  color: #055eff;
  cursor: pointer;
}
.form-content .day ul {
  display: flex;
}
.form-content .day ul li {
  margin-right: 18px;
}
.form-content .day ul li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1.5px solid #b4b4b5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 6px 25px;
  color: #000;
}
.form-content .day ul li button:active {
  border: 1.5px solid #055eff;
}
.form-content .day ul li button span {
  font-size: 1.5625em;
}
.form-content .day ul li button small {
  font-size: 1em;
}
.form-content .hour {
  margin: 18px 0;
}
.form-content .hour ul {
  display: flex;
}
.form-content .hour ul li {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.form-content .hour ul li button {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px 25px;
}
.form-content .hour ul li button:active {
  background: #055eff;
  color: #fff;
}

/*# sourceMappingURL=style2.css.map */
