$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

@media screen and (min-width: $breakpoint-medium) {
  header {
    padding: 20px;
    margin-bottom: 3%;
    .search-web {
      display: flex;
    }
    .menu-mob {
      display: none;
    }
  }
  .bread-path {
    a {
      font-size: 1em;
    }
    span {
      font-size: 1em;
    }
  }
  .posts {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    .blog-post {
      flex-direction: column;
      align-items: flex-start;
      width: 360px;
      margin: 3% 5px;
      .blog-post-img {
        height: 240px;
        position: relative;
        img {
          width: 100%;
        }
        .post-tag {
          display: flex;
          position: absolute;
          bottom: auto;
          top: 20px;
          left: 20px;
          font-size: 0.825em;
        }
      }
      .post-details {
        padding: 0;
        .post-tag {
          display: none;
        }
      }
    }
  }
  .post-title {
    font-size: 1em;
  }
  .find-property {
    .find-content {
      margin: 0 20px;
      span {
        font-size: 2em;
        svg {
          width: 120px;
          height: 30px;
        }
      }
      p {
        font-size: 1em;
      }
      button {
        font-size: 1em;
        padding: 10px 12px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  header {
    padding: 20px 75px;
    svg {
      transform: scale(1.2);
    }
  }
  .find-property {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
      display: flex;
    }
  }
}

@media screen and (min-width: $breakpoint-extra-large) {
  header {
    .header-tags {
      display: flex;
      ul {
        display: flex;
        flex-direction: row;
      }
    }
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1140px 1fr;
  }
  .posts {
    margin: 0;
    justify-content: space-between;
  }
  .find-property {
    display: -moz-inline-grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1440px 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    .find-content {
      grid-column-start: 2;
      grid-column-end: 3;
      margin: 0;
      p {
        padding-bottom: 3%;
      }
    }
    .find-img {
      grid-column-start: 3;
      grid-column-end: 3;
    }
  }
  .tag-info {
    grid-column-start: 2;
    grid-column-end: 3;
    .tag-name {
      margin-top: 0;
    }
  }
}

@media (max-width: 760px) {
  footer .main_informations {
    flex-direction: column;
  }

  footer .main_informations .brand_links .link_list {
    display: none;
  }

  footer .main_informations .terms_links > ul li {
    margin: 0 20px;
  }

  footer .main_informations .brand_links .brand #logo {
    width: 150px;
  }

  footer .main_informations * {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  footer .main_informations .terms_links .address_contact ul:first-child {
    margin: 0;
    padding: 0;
  }

  footer .main_informations .terms_links .address_contact ul:last-child {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .address_contact {
    flex-direction: column;
  }

  footer .main_informations .terms_links .address_contact ul:first-child {
    margin-bottom: 20px;
    border-right: 1px solid transparent;
  }
}