@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  color: #353d40;
  line-height: 140%; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; }

main {
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(53, 61, 64, 0.12);
  padding: 20px;
  justify-content: space-between; }
  header .search-web {
    display: none;
    align-items: center;
    background: #ffffff;
    border: 1px solid #353d40;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 8px 18px; }
    header .search-web input {
      background: transparent;
      border: none;
      font-size: 1.25em;
      outline: transparent; }
    header .search-web span {
      cursor: pointer; }
  header .menu-mob span {
    font-size: 1.6em;
    cursor: pointer; }

.header-tags {
  display: none; }
  .header-tags ul li {
    padding: 0 16px; }
    .header-tags ul li a {
      font-size: 1.25em;
      cursor: pointer; }
      .header-tags ul li a:hover {
        color: #055eff;
        transition: 300ms; }

.posts {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0 20px; }
  .posts .see-more {
    align-self: center;
    margin-bottom: 6%; }
    .posts .see-more button {
      padding: 6px 12px;
      color: #fff;
      background: #055eff;
      width: fit-content;
      border-radius: 3px;
      font-size: 12px; }
  .posts .blog-post {
    display: flex;
    align-items: center;
    margin: 18px 0;
    width: 100%; }
    .posts .blog-post .post-details {
      display: flex;
      flex-direction: column;
      padding-left: 8px; }
    .posts .blog-post .blog-post-img {
      flex: 0 0 50%;
      margin-bottom: 8px; }
      .posts .blog-post .blog-post-img img {
        width: 100%;
        object-fit: cover;
        height: auto;
        border-radius: 3px; }
      .posts .blog-post .blog-post-img .post-tag {
        display: none; }

.tag-info {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  align-items: center; }
  .tag-info p {
    text-align: center;
    margin: 20px 0; }
  .tag-info .tag-name {
    margin-top: 20px;
    background: #2673ff;
    border-radius: 3px;
    padding: 12px; }
    .tag-info .tag-name span {
      color: #fff;
      font-size: 1em; }

.bread-path {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .bread-path a {
    font-size: 12px;
    color: #055eff;
    font-weight: 500; }
  .bread-path span {
    font-size: 12px;
    color: #055eff;
    padding: 0 16px; }

.post-tag {
  font-size: 8px;
  background: #2673ff;
  color: #fff;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 8px 6px;
  width: fit-content; }

.post-title {
  font-weight: 500;
  font-size: 12px; }

.post-subtitle {
  display: none;
  font-size: 14px;
  color: #7a7a7a; }

.find-property {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  padding: 18px 20px; }
  .find-property img {
    display: none; }
  .find-property .find-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 20px; }
    .find-property .find-content span {
      display: flex;
      align-items: baseline;
      font-size: 1.125em;
      font-weight: 500;
      padding-bottom: 12px; }
      .find-property .find-content span svg {
        width: 60px;
        height: 16px; }
    .find-property .find-content p {
      font-size: 0.75em;
      padding-bottom: 12px; }
    .find-property .find-content button {
      background: #055eff;
      padding: 6px 12px;
      border-radius: 3px;
      color: #fff;
      font-size: 0.75em; }

footer {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

footer .main_informations {
  display: flex;
  padding: 30px; }

footer .main_informations .brand_links {
  flex: 1;
  display: flex;
  flex-direction: column; }

footer .main_informations .brand_links .brand {
  margin-bottom: 20px; }

footer .main_informations .brand_links .link_list {
  display: flex; }

footer .main_informations .brand_links .link_list ul:first-child {
  margin-right: 40px; }

footer .main_informations .brand_links .link_list ul li {
  margin-bottom: 10px; }

footer .main_informations .brand_links .link_list ul li a {
  color: #3d3f40; }

footer .main_informations .brand_links .link_list ul li a:hover {
  color: #2693ff; }

footer .main_informations .terms_links {
  flex: 1;
  display: flex;
  flex-direction: column; }

footer .main_informations .terms_links small {
  font-size: 0.9em;
  margin-bottom: 15px;
  color: #353d40; }

footer .main_informations .terms_links p {
  font-size: 1em;
  margin-bottom: 15px;
  color: #353d40; }

footer .main_informations .terms_links a {
  font-size: 1em;
  margin-bottom: 15px;
  color: #055eff; }

footer .main_informations .terms_links strong {
  font-size: 0.9em;
  margin-bottom: 15px;
  color: #3d3f40;
  font-weight: bold; }

footer .main_informations .terms_links > ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px; }

footer .main_informations .terms_links > ul li {
  margin-right: 24px; }

footer .main_informations .terms_links .address_contact {
  display: flex; }

footer .main_informations .terms_links .address_contact ul:first-child {
  padding-right: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.24);
  margin-right: 40px; }

footer .main_informations .terms_links .address_contact ul li {
  color: #353d40;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 10px; }

footer .main_informations .terms_links .address_contact ul li img {
  margin-right: 10px; }

footer .main_informations .terms_links .address_contact ul li:first-child {
  font-weight: bold;
  color: #353d40;
  font-size: 1em;
  margin-bottom: 20px; }

footer .rights-reserve {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc; }

footer .rights-reserve p {
  text-align: center;
  color: #353d40;
  font-size: 0.9em; }

/*# sourceMappingURL=style3.css.map */
